.regField{
   
    background-color: whitesmoke;
    color: black;
    border: 1px solid #ddd;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    outline: none;


    



}
.submitBtn{
    width: 100%;
    background: #C490E4;
    border: 0;
    color: whitesmoke;
    padding: 15px;
    margin: 10px 0 0 0;
    font-size: 15px;
    cursor: pointer;


}